body  {
    /*background-color: #0a0714;*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#form-container {
    width: 35vw;
    height: 45vh;
    background-color: #091017;
    padding: 20px;
    border-radius: 20px;
}

footer {
    margin-top: 10vh;
}

#alertMessage {
    width: 30vw;
    height: 40vh;
    z-index: 3;
    position: fixed;
    top: 25vh;
    display: none;
}

#warningsList {
    list-style-type: circle;;
}

#successfulMessage {
    margin-top: 20px;
    display: none;
}

